.saved-news-header {
  background-color: #fff;
  padding: 40px 104px;
}

.saved-news-header__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin-bottom: 28px;
}

.saved-news-header__title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin-bottom: 30px;
}

.saved-news-header__keywords {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.saved-news-header__keywords-bold {
  font-weight: 700;
}
