.saved-news {
  background-color: #f5f6f7;
  padding: 40px 0 62px;
  width: 100%;
  max-width: 100%;
}

.saved-news__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.saved-news__articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  justify-content: center;
  margin-top: 32px;
}

@media screen and (max-width: 1280px) {
  .saved-news__articles {
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(100% - 32px);
  }

  .saved-news__container {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .saved-news {
    padding: 24px 0 32px;
  }

  .saved-news__container {
    max-width: calc(100% - 32px);
    padding: 16px;
  }

  .saved-news__articles {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .saved-news {
    padding: 16px 10px 24px;
  }

  .saved-news__container {
    max-width: calc(100% - 32px);
  }

  .saved-news__articles {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
