.header {
  background-color: rgba(196, 196, 196, 0.01);
  padding: 16px 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header_saved-news {
  background-color: #ffffff;
  box-shadow: inset 0px -1px 0px #d1d2d6;
  position: relative;
}

.header__content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.header_saved-news .header__logo {
  color: #1a1b22;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 34px;
}

.header_saved-news .header__nav-link {
  color: #1a1b22;
}

.header__nav-link_active {
  border-bottom: 3px solid #ffffff;
}

.header_saved-news .header__nav-link_active {
  border-bottom-color: #1a1b22;
}

.header__button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 12px 19px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header_saved-news .header__button {
  color: #1a1b22;
  border-color: #1a1b22;
}

.header__logout-icon {
  margin-left: 9px;
}

.header_saved-news .header__logout-icon {
  filter: brightness(0);
}

@media screen and (max-width: 768px) {
  .header__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__nav {
    margin-top: 16px;
  }
}
