.news-card-list {
  background-color: #f5f6f7;
  padding: 80px 0;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.news-card-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
  max-width: 1280px;
  margin: 0 auto;
}

.news-card-list__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0 0 64px;
  text-align: left;
}

.news-card-list__cards {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  margin-bottom: 64px;
  max-width: 1232px;
  justify-content: center;
}

.news-card-list__button {
  display: block;
  width: 288px;
  height: 64px;
  margin: 64px auto 0;
  background: #ffffff;
  border-radius: 80px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.news-card-list__button:hover {
  opacity: 0.8;
}

@media (max-width: 1280px) {
  .news-card-list__cards {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
  }
}
@media (max-width: 1024px) {
  .news-card-list__cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 688px;
  }
}

@media screen and (max-width: 768px) {
  .news-card-list {
    padding: 40px 0;
  }

  .news-card-list__container {
    max-width: calc(100% - 80px); /* Ensures 40px margin on both sides */
  }

  .news-card-list__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .news-card-list__container {
    gap: 8px;
  }
}

@media (max-width: 320px) {
  .news-card-list {
    padding: 32px 0;
  }
  .news-card-list__container {
    max-width: calc(100% - 32px);
  }

  .news-card-list__cards {
    grid-template-columns: 1fr;
    max-width: 288px;
  }

  .news-card-list__button {
    width: calc(100% - 32px);
  }
}
