.news-card {
  width: 400px;
  height: 576px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.news-card__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
}

.news-card__save-button {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 12px;
  transition: all 0.3s ease;
}

.news-card__icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.news-card__icon_trash {
  order: 2;
  margin-left: 6px;
}

.news-card__remove-text {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.news-card__save-button:hover .news-card__remove-text {
  display: inline;
}

.news-card__save-button_saved {
  background-color: white;
}

.news-card__save-button_saved:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.news-card__tooltip {
  position: absolute;
  top: 0;
  right: 50px;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  white-space: nowrap;
}

.news-card__content {
  padding: 20px 24px 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.news-card__date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0 0 12px;
}

.news-card__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0 0 16px;
}

.news-card__description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0 0 auto;
  flex-grow: 1;
}

.news-card__source {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 18px 0 0;
}

.news-card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  background: #ffffff;
  border-radius: 10px;
  padding: 8px 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
