:root {
  --black: #1a1b22;
  --white: #ffffff;
  --gray: #b6bcbf;
  --blue: #2f71e5;
  /* Add other colors from your design */
}

body {
  font-family: "Roboto", "Roboto Slab", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
